@import '../../styles/styles.scss';

.header {

    // screen < 1080
    @media screen and (max-width: 1080px) {
        // width: 100%;
        // padding: 0 20px;
        position: relative;
    }


    // screen < 960
    @media screen and (max-width: 960px) {
        width: 100%;
        padding: 0 20px;
        position: relative;
    }

    // screen >= 600
    @media screen and (min-width: 600px) {
        width: 100%;
        padding: 0 20px;
    }

    // screen >= 960
    @media screen and (min-width: 960px) {
        // width: 760px;
    }

    // screen >= 1280
    @media screen and (min-width: 1280px) {
        // width: 1160px;
    }

    // screen >= 1600
    @media screen and (min-width: 1600px) {
        width: 1520px;
        padding: 0;
    }
}

.logo {
    // screen < 1080
    @media screen and (max-width: 1080px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}