// Theme Colors
$white: #fff;
$black: #000;

//Button

// Screen sizes
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1302px;

// Font size
$fs-16: 16px;
$fs-14: 14px;
$fs-20: 20px;
$fs-25: 25px;
$fs-30: 30px;
$fs-40: 40px;

// Padding

// Margin

