@import '../../../styles/styles.scss';

.magazine{
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px) {
        width: 100%;

        .magazine-container {
            height: auto;
            width: 100%;
            flex-direction: column;
            
            .magazine-img{
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .magazine-title{
                width: auto;
                height: auto;
                align-self: flex-end;
                padding: 0 20px 22px 20px;
            }
        }

        .magazine-topic {
            height: auto;
            width: 100%;

             .magazine-list{
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;
                gap: 40px;

                .magazine-grid-list {
                    width: 480px;
                }
            }
        }
    }

    
    // screen >= 960
    @media screen and (min-width: 600px) {

        .magazine-container {
            height: auto;
            width: 760px;
            flex-direction: column;
            
            .magazine-img{
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .magazine-title{
                width: 100%;
                align-self: flex-end;
                padding: 0 20px 22px 20px;
            }
        }

        .magazine-topic {
            height: auto;
            width: 760px;

            .magazine-list{
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;
                gap: 40px;

                .magazine-grid-list {
                    width: 480px;
                }
            }
        }
    }
    
    // screen >= 960
    @media screen and (min-width: 960px) {
        .magazine-container {
            height: auto;
            width: 760px;
            flex-direction: column;
            
            .magazine-img{
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .magazine-title{
                width: 100%;
                align-self: flex-end;
                padding: 0 20px 22px 20px;
            }
        }

        .magazine-topic {
            height: auto;
            width: 760px;
        }
    }

    // screen >= 1280
    @media screen and (min-width: 1280px) {
        .magazine-container {
            height: auto;
            width: 1160px;
            flex-direction: row;
            
            .magazine-img{
                width: calc(1160px*(37/76));
                height: calc(1160px*(15/38));
                img {
                    width: calc(1160px*(37/76));
                    height: calc(1160px*(15/38));
                }
            }

            .magazine-title{
                align-self: flex-end;
                width: calc(1160px*(39/76));
                // height: calc(1160px*(23/38));
                padding: 0 0 22px 40px;
            }
        }

        .magazine-topic {
            height: auto;
            width: 1160px;

            .magazine-list{
                width: 100%;
                flex-wrap: wrap;
                gap: 40px;

                .magazine-grid-list {
                    width: 360px;
                }
            }
        }
    }

    // screen >= 1600
    @media screen and (min-width: 1600px) {
        .magazine-container {
            height: auto;
            width: 1520px;
            
            .magazine-img{
                width: 740px;
                height: 600px;
                img {
                    width: 740px;
                    height: 600px;
                }
            }

            .magazine-title{
                width: 780px;
                height: auto;
                align-self: flex-end;
                padding: 0 200px 22px 40px;
            }
        }

        .magazine-topic {
            height: auto;
            width: 1520px;
            
            .magazine-list{
                width: 100%;
                flex-wrap: wrap;
                justify-content: initial;
                gap: 40px;

                .magazine-grid-list {
                    width: 480px;
                }
            }

        }
    }

    @media screen and (min-width: 1900px) {
    }
    @media screen and (max-width: 1900px) {
        
    }
    
    .magazine-container, .magazine-list {
        display: flex;
    }
}