@import '../../../styles/styles.scss';

.entertaiment{
    // background-color: #fff;

    @media screen and (min-width: 600px) {
        width: 100%;
    }

    
    // screen >= 960
    @media screen and (max-width: 960px) {
    
    }
    
    // screen >= 960
    @media screen and (min-width: 960px) {
        .container {
            height: auto;
            justify-content: center;
            
            .entertaiment-img{
                width: 740px;
                height: 600px;
                img {
                    width: 740px;
                    height: 600px;
                }
            }

            .entertaiment-title{
                width: 780px;
                align-self: flex-end;
                padding: 0 200px 22px 40px;
            }
        }
    }

    // screen >= 1280
    @media screen and (min-width: 1280px) {
    }

    // screen >= 1600
    @media screen and (min-width: 1600px) {
    }

    @media screen and (min-width: 1900px) {
    }
    @media screen and (max-width: 1900px) {
        
    }
    
    .container {
        display: flex;
    }
}