{% load i18n %}

{% block subject %}
{% blocktrans %}Thay đổi mật khẩu tại trang {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Bạn nhận được email này vì bạn đã quên mật khẩu tại trang {{ site_name }}.{% endblocktrans %}

{% trans "Click vào đường dẫn dưới đây để thiết lập lại mật khẩu:" %}
{{ protocol }}://{{ domain }}/{{ url }}
{% trans "Tên tài khoản của bạn:" %} {{ user.get_username }}

{% trans "Cảm ơn bạn vì đã sử dụng dịch vụ của chúng tôi!" %}

{% blocktrans %}Nhóm {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Bạn nhận được email này vì bạn đã gửi yêu cầu quên mật khẩu tại trang {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Click vào đường dẫn dưới đây để thiết lập lại mật khẩu:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
<p>{% trans "Tên tài khoản của bạn:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Cảm ơn bạn vì đã sử dụng dịch vụ của chúng tôi!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}