{% extends 'accounts_base.html' %} {% load static %} {% block content %}
{%csrf_token %}

<div>
  <div>
    <h4 class="py-3 d-flex justify-content-center">
      Vui lòng nhấp vào nút bên dưới để kích hoạt tài khoản
    </h4>
  </div>
  <div>
    <div class="row justify-content-center" style="">
      <!-- <form target="_blank" action="/api/users/activation/" method="post"> -->
      <form id="activation_form" method="POST" action="/api/users/activation/">
        {% csrf_token %} {{ form }}
        <input type="hidden" name="uid" value="{{uid}}" />
        <input type="hidden" name="token" value="{{token}}" />
        <!-- <input onclick="" type="submit" class="btn btn-outline-dark btn-lg" value="" /> -->

        <input
          type="submit"
          class="btn btn-outline-dark btn-lg"
          value="Kích hoạt"
        />
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div id="loading"  class="col-3 text-center">
        <img
          id="loading-image"
          src="/backend_media/logos/loading.gif"
          alt="Loading..."
        />
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  var $loading = $("#loading").hide();

  $(document).ready(function () {
    $("#loading").hide();
    $("#activation_form").submit(function (event) {
      //   $("#loading").show();
      event.preventDefault();
      var uid = $('input[name="uid"]').val();
      var token = $('input[name="token"]').val();
      console.log("uid =" + uid);
      console.log("token =" + token);
      $.ajax({
        type: "POST",
        url: "/api/users/activation/",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          uid: uid,
          token: token,
        },
        beforeSend: function () {
          $("#loading").show();
        },
        success: function () {
          location.href = "{{host}}";
        },
        complete: function () {
          $("#loading").hide();
        },
      });
      return false;
    });
  });
</script>
{% endblock %}
