{% extends 'accounts_base.html' %} {% load static %} {% block content %}
{%csrf_token %}

<div>
  <div>
    <h4 class="py-3 d-flex justify-content-center">
      Vui lòng nhấp vào nút bên dưới để trở về Lucete
    </h4>
  </div>
  <div>
    <div class="row justify-content-center" style="">
      <form
        id="redirect_form"
        action="/api/social/o/google-oauth2/"
        method="post"
      >
        {% csrf_token %} {{ form }}
        <input type="hidden" name="code" value="{{code}}" />
        <input type="hidden" name="state" value="{{state}}" />
        <input
          type="submit"
          class="btn btn-outline-dark btn-lg"
          value="Go to page"
        />
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div id="loading" class="col-3 text-center">
        <img
          id="loading-image"
          src="/backend_media/logos/loading.gif"
          alt="Loading..."
        />
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  var $loading = $("#loading").hide();

  $(document).ready(function () {
    $("#loading").hide();
    $("#redirect_form").submit(function (event) {
      //   $("#loading").show();
      event.preventDefault();
      var code = $('input[name="code"]').val();
      var state = $('input[name="state"]').val();
      console.log("code =" + code);
      console.log("state =" + state);
      $.ajax({
        type: "POST",
        url: "/api/social/o/google-oauth2/",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          code: code,
          state: state,
        },
        beforeSend: function () {
          $("#loading").show();
        },
        success: function (data) {
          localStorage.setItem("@token", data.access);
          localStorage.setItem("@refreshToken", data.refresh);
          location.href = "{{host}}";
        },
        complete: function () {
          $("#loading").hide();
        },
      });
      return false;
    });
  });
</script>
{% endblock %}
