@import '../../../styles/styles.scss';

@include MediaQuery($sm) {
    .login-page {
        flex-direction: column;
        align-items: center;
    }
}

.imageBannerLoginPopup {
    background-image: url('../../../assets/images/login_popup.png');
    width: 610px;
    height: 800px;
    background-repeat: no-repeat;

    // background-position: center;
    // background-size: contain;
    // screen < 1080
    // @media screen and (max-width: 1080px) {
    //     display: none;
    // }
}



.dialog-img {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 1080px) {
        display: none;
    }
}

.textField {
    @media screen and (max-width: 1080px) {
        // border: 20px solid #FFFFFF;
    }
}

.line {
    height: 1px;
    width: 52px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin: 0;
}

.paperPopup {
    width: 390px;
    margin: 64px 32px;

    @media screen and (max-width: 1080px) {
        margin-left: 38px !important;
    }

    // screen < 960
    @media screen and (max-width: 960px) {
        margin-left: 38px !important;
    }

    @media screen and (max-width: 760px) {
        margin-left: 38px !important;
    }

    @media screen and (max-width: 600px) {
        margin-left: 38px !important;
    }

    @media screen and (max-width: 500px) {
        margin: 15px !important;
    }
}