@import '../../styles/styles.scss';

.card{
    position: relative;
    overflow: hidden;
    width: 100%;
    
    &:hover{
        .cardActions {
            opacity: 1;
            transform: translateY(-100%);
            -webkit-transform:translateY(-100%);
            -moz-transform:translateY(-100%);
            -ms-transform:translateY(-100%);
            -o-transform:translateY(-100%);
        }
    }

    .cardActions{
      cursor: pointer;
      width: 100%;
      
      @media screen and (min-width: 960px) {
        background-color: #EEEEEE;
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;ht: 450px;
      }
    }

    @media screen and (max-width: 960px) {
        .picture{
          height: auto;
          width: 100%;
        }
    }
    @media screen and (min-width: 960px) {
        .picture{
          height: 450px;
        }
    }
    @media screen and (min-width: 1600px) {
      .picture{
          height: 600px;
      }
    }
}

.cardActions{
  cursor: pointer;
  width: 100%;
  
  @media screen and (max-width: 960px) {
    background-color: #EEEEEE;
  }

}